<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
        $( document ).ready(function() {
            console.log('starting')
            $( '#convert_button' ).click(function(){
                console.log('hello')
                const number = $( '#input_field' ).val();
                $.ajax({
                    url: "http://localhost:8080/converter/convertNumber",
                    type: "POST",
                    data: number,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data){
                        console.log('success')
                        $( '#number_output' ).text(data.inputNumber)
                    }
                })
            })
        });
    </script>
</head>
<body ng-app="demo">
<hr/>
<div class="container">
    <div class="row">
        <label id="number_input">Number</label>
        <input id="input_field" type="text" class="input-sm spacing"/>
        <button id="convert_button">Convert Number</button>
        <label id="number_output">Result</label>
    </div>
</div>
</body>
<link rel="stylesheet" href="css/app/app.css"/>
</html>